.row {
    display: block;
    margin-bottom: 10px;

    span {
        display: inline-block;
        width: 20%;
    }

    .wrapper {
        display: inline-block;
        vertical-align: middle;
        width: 80%;
        outline: 1px solid #c1c1c1;

        input {
            color: #333;
            font-size: 18px;
            width: 80%;
            padding: 7px 10px 9px;
            border: 0;
        }
    }
}
